<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Quiz</title>
</head>
<body>

<div class="head">
    <div class="cont1">
        <h3>In the past week, to what extent do you feel </h1>
    </div>
    <div class="mood"></div>
</div>
<div class="middle"></div>
<div class="bottom"></div>
</body>
<script>

const display=document.querySelector(".mood")
    let mood = [
        {emotion:
        "Interested", score: 3
        },

        {emotion:
        "Distressed", score: 3,
        },

        {emotion:
        "Excited", score: 3,
        },

        {emotion: 
        "Upset", score:3,
        },
        {
        emotion:
        "Strong", score:3,
        },

        {
        emotion:
        "Guilty", score:3,
        },
        {
        emotion:
        "Scared", score:3,
        },
        {
        emotion:
        "Hostile",score:3,
        },
        {
        emotion:
        "Enthusiastic", score:3,
        },
        {
        emotion:
        "Proud", score:3,
        },
        {
        emotion:
        "Irritable", score:3,
        },
        {
        emotion:
        "Alert", score:3,
        },
        {
        emotion:
        "Ashamed", score:3,
        },
        {
        emotion:
        "Inspired", score:3,
        },
        {
        emotion:
        "Nervous", score:3,
        },
        {
        emotion:
        "Determined",score:3,
        },
        {
        emotion:
        "Attentive",score:3,
        },
        {
        emotion:
        "Jittery", score:3,
        },
        {
        emotion:
        "Active",score:3,
        },
        {
        emotion:
        "Afraid",score:3,
    }]




 

function question(index){
     return mood[index]


}

for(let x=0;x<20;x++){
    console.log((mood[x].emotion))

}



</script>
</html>