<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Quiz</title>
</head>
<body>

<div class="head">
        <button class="left"><img src="\Assets\Images\left.svg" height="50px">Back</button>
    <div class="cont1">
        <h3>In the past week, to what extent do you feel </h3>
    <div class="mood">
    </div>
    <form class="ansform">
          <label>Answer</label>
        <label>1<input name="answer" type="radio"></label>
        <label>2<input name="answer" type="radio"></label>
        <label>3<input type="radio" name="answer"></label>
        <label>4<input type="radio" name="answer"></label>
        <label>5<input type="radio" name="answer"></label>
        <button type="submit">Submit</button>


    </form>
       
        </div>
 <button class="right"><img src="\Assets\Images\right.svg" height="50px">Next</button>

</div>
<div class="middle"></div>
<div class="bottom"></div>
</body>
<script>

const emotion=document.querySelector(".mood")
const back=document.querySelector(".left")
const next=document.querySelector(".right")
    let mood = [
        {emotion:
        "Interested", score: 3
        },

        {emotion:
        "Distressed", score: 3,
        },

        {emotion:
        "Excited", score: 3,
        },

        {emotion: 
        "Upset", score:3,
        },
        {
        emotion:
        "Strong", score:3,
        },

        {
        emotion:
        "Guilty", score:3,
        },
        {
        emotion:
        "Scared", score:3,
        },
        {
        emotion:
        "Hostile",score:3,
        },
        {
        emotion:
        "Enthusiastic", score:3,
        },
        {
        emotion:
        "Proud", score:3,
        },
        {
        emotion:
        "Irritable", score:3,
        },
        {
        emotion:
        "Alert", score:3,
        },
        {
        emotion:
        "Ashamed", score:3,
        },
        {
        emotion:
        "Inspired", score:3,
        },
        {
        emotion:
        "Nervous", score:3,
        },
        {
        emotion:
        "Determined",score:3,
        },
        {
        emotion:
        "Attentive",score:3,
        },
        {
        emotion:
        "Jittery", score:3,
        },
        {
        emotion:
        "Active",score:3,
        },
        {
        emotion:
        "Afraid",score:3,
    }]
console.log(mood[19].emotion)
let index=0;
emotion.innerHTML=(mood[0].emotion)+"?"
 
back.addEventListener("click", function(){
    if (index==0){
        emotion.innerHTML=(mood[0].emotion)
    }
    

    else{
        emotion.innerHTML=(mood[index-1].emotion)
        index=index-1
    }

})

next.addEventListener("click", function(){
     if(index==19){
        emotion.innerHTML=(mood[19].emotion)

    }
    else{
        emotion.innerHTML=(mood[index+1].emotion)
        index=index+1
    }

})
 


</script>
</html>