<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Quiz</title>
</head>
<body>

<div class="head">
    <div class="cont1"></div>
    <div class="cont2"></div>
    <div class="cont3"></div>
    <div class="cont4"></div>
</div>
<div class="middle"></div>
<div class="bottom"></div>
</body>
<script>
    let mood = [{
        Interested: 3,
        Distressed: 3,
        Excited: 3,
        Upset:3,
        Strong:3,
        Guilty:3,
        Scared:3,
        Hostile:3,
        Enthusiastic:3,
        Proud:3,
        Irritable:3,
        Alert:3,
        Ashamed:3,
        Inspired:3,
        Nervous:3,
        Determined:3,
        Attentive:3,
        Jittery:3,
        Active:3,
        Afraid:3,
    }]

for(let x=0;x<21;x++){
    console.log(mood[x])

}



</script>
</html>