.head{
    display: flex;
    background-color: antiquewhite;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items:;
}

 .left{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
 }
  .right{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
 }